/* Set the background color to poker green */
.root {
    -fx-background-color: #2E8B57;
}
.circle-filter {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
}
/* Add a vignette effect */
#vignette {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 50%;
    -fx-opacity: 0.0;
    -fx-transition: opacity 0.5s;
}

.root:hover > #vignette {
    -fx-opacity: 1.0;
}